.signin-header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0)
  );
  @include respond(phone-xl) {
    padding: 1rem 3rem;
  }
  @include respond(phone-md) {
  }
  @include respond(phone-reg) {
    padding: 1rem;
  }
  align-items: center;
  min-height: 8rem;
  // @include respond(phone-xl) {
  //   background-color: rgba(0, 0, 0, 100);
  // }
  &__logo {
    margin-left: 3%;
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 92px;
    @include respond(phone-sm) {
      line-height: 70px;
    }
  }
  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    @include respond(tab-land) {
      width: 25%;
    }
    @include respond(tab-port) {
      width: 40%;
    }
    @include respond(phone-md) {
      width: 60%;
    }
    &__selector {
      width: 60%;
    }
    &__btn {
      width: 40%;
    }
  }
}
.nfLogo {
  margin-left: 3%;
  margin-top: 2%;
  fill: #e50914;
  width: 16.7rem;
  height: 4.5rem;
  @include respond(phone-sm) {
    width: 10rem;
    height: 5rem;
  }
  vertical-align: middle;
}
